
* {
    box-sizing: border-box;
}
  
body {
  background-size: 52rem 40rem;
  background-color: rgb(162, 162, 162);
  height: 100%;
  margin: 0;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 4%;
  border: 1px #787878 solid;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

span {
  font-family: arial, sans-serif;
  padding: 4px;
  font-weight: bold;
}

/* Fontawesome fonts*/
.fas {
    color: #ffffff;
  }

.container {
  margin-top: 4%;
}

#delBtn {
  background-color: #000000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 30px;
  line-height: 17px;
  margin: 1px 1px;
}

#editBtn {
  background-color: #000000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 30px;
  line-height: 17px;
  margin: 1px 1px;
}

#downloadBtn {
  background-color: #000000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 30px;
  line-height: 17px;
  margin: 1px 1px;
}

#modalBtn {
  border: none;
  color: rgb(243 243 243);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
  background-color: #717171;
}

#uploadBtn {
  border: none;
  color: rgb(243 243 243);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
  background-color: #717171;
}

.pageNum {
  color: #ffffff;
  margin: 3px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.fileType::before {
  background-image: url("../images/file-word-solid.svg");
  display: block;
  content: "";
  height: 40px;
  width: 40px;
  background: no-repeat;
}

.jpg::before {
  background-image: url("../images/file-image-solid.svg");
  color: blue;
}

.jpeg::before {
  background-image: url("../images/file-image-solid.svg");
  color:blue;
}

.xls::before {
  background-image: url("../images/file-excel-solid.svg");
  color:green;
}

.xlsx::before {
  background-image: url("../images/file-excel-solid.svg");
  color:green;
}

.xml::before {
  background-image: url("../images/file-solid.svg");
  color:green;
}

.pdf::before {
  background-image: url("../images/file-pdf-solid.svg");
  color:red;
}

.txt::before {
  background-image: url("../images/file-alt-solid.svg");
  color:grey;
}